body {
    background: url(../images/totoro.gif);
    background-size: cover;
    color: #ffe43d;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

a {
    color: unset;
}

#mainBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    vertical-align: top;
}

#mainBodyContent {
    background: #00000096;
    border-radius: 20px;
    padding: 10px;
}
